.neumorphic {

    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
      -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    width: 230px;
    border-radius: 30px;
    overflow: hidden;
    padding: 0.5rem;
    display: flex;
    font-size: 18px;
    margin: auto;
  }
  
  .neumorphic--pressed {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
      inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  }
  
  .variation2 {
    justify-content: space-around;
    align-items: center;
  }
  
  .variation2 span {
    display: block;
    padding-bottom: 1.5rem;
    position: relative;
    font-size: 3rem;
  }
  
  .variation2 span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 0.3rem;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
    background-color: currentColor;
  }
  
  .variation2.pressed {
    color: #5ab9ea;
  }

  .btn-2 {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgb(160, 109, 241) 0%, rgb(103, 214, 239) 100%);
    border: none;
    width:250px;
    height:40px;
    border-radius: 30px;
    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  .positive{
    background-color: #ABC9FF;
  }
  .negtive
  {
    background-color: #FF8B8B;
  }
  .history-btn:hover
  {
    background-color: red;
    color: white;
  }